/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Oswald", sans-serif;
}

body {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  background: hsl(235, 21%, 11%);
}

h1 {
  font-weight: 700;
  color: white;
}

img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

header {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

header .theme-selector {
  display: flex;
  align-items: center;
}

header .theme-selector img {
  width: 30px;
  height: auto;
}
.todoapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  max-width: 40%;
  margin: auto;
  height: auto;
}

.todoapp .app-main-input {
  width: 100%;
}
.todoapp input[type="text"] {
  width: 100%;
  color: hsl(234, 39%, 85%);
  border: none;
  padding: 20px;
  border-radius: 6px;
  font-size: inherit;
  font-family: inherit;
  background-color: hsl(235, 19%, 25%);
}

.todoapp .app-main-todos {
  width: 100%;
  border-radius: 6px;
  margin-top: 20px;
  background-color: hsl(235, 19%, 25%);
  padding: 0px;
  margin-right: auto;
}

.app-main-todos ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.todo {
  display: flex;
  align-items: center;
  width: 100%;
  color: hsl(234, 39%, 85%);
  border-bottom: solid 1px;
  border-color: #cacde8;
  font-size: inherit;
}

.todo label {
  margin-left: 50px;
  padding: 20px;
}

.todo input[type="checkbox"] {
  margin-left: 20px;
  cursor: pointer;
  background-image: url(/assets/icon-check.svg);
}
input:focus {
  outline: none;
}
